cookie_header.txt
__pycache__

*.out
*.exe
*.txt
grader.cpp

src/olinfo/ctf.cpp
src/olinfo/museo.cpp
src/olinfo/abc_rsa.cpp
src/olinfo/massimo.cpp
src/olinfo/catalogo.cpp
src/olinfo/autogrill.cpp
src/olinfo/ois_nonna.cpp
src/olinfo/ois_cabala.cpp
src/olinfo/ois_truffa.cpp
src/olinfo/abc_quadri.cpp
src/olinfo/ois_scrigni.cpp
src/olinfo/connessioni.cpp
src/olinfo/mincammino2.cpp
src/olinfo/oii_paletta.cpp
src/olinfo/preoii_treni.cpp
src/olinfo/ois_biglietti.cpp

src/olinfo/terry/mostra.cpp
src/olinfo/terry/calcio.cpp
src/olinfo/terry/cestini.cpp
src/olinfo/terry/download.cpp
src/olinfo/terry/caramelle.cpp
src/olinfo/terry/antivirus.cpp
src/olinfo/terry/interruttori.cpp
src/olinfo/terry/collezionismo.cpp